body {
	background-image: url(https://i.stack.imgur.com/W6Fuk.png);
	background-size: cover;
	text-align: center;
	font-size: 30px;
	color: white;
	padding: 30px;
}

.bottom {
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.hello {
	width: 40px;
	height: 35;
}
button {
	background-color: black;
	width: 100px;
	height: 40px;
	padding: 5px 5px;
	border: solid 1px white;
	color: white;
	border-radius: 20%;
	margin: 40px;
	font-size: 17px;
	font-weight: bold;
}

button:hover {
	background: green;
}