body {
	background-image: url(https://i.stack.imgur.com/W6Fuk.png);
	background-size: cover;
	text-align: center;
	font-size: 30px;
	color: white;
	padding: 30px;
	display: flex;
    flex-direction: column;
    align-items: center;
}

#hangman {
  font-size: 80px;
}

p {
  font-size: 26px;
}
#one {
	font-size: 24px;
}
#two {
  margin-top: 40px;
  font-size: 24px;
}

.col {
  margin-top: 70px;
}

.container-fluid {
	width: 34px;
	height: 29px;
	background-color: white;
	padding: 3px;
	border: solid 1px white;
	color: black;
	border-radius: 8%;
	margin: 4px; 
	font-size: 21px;
	font-weight: bold;
	list-style: none;
    border: 1px black;
	float: left;
	/* display: flex;
	flex-direction: row;  */
	text-align: center;
}

li:hover {
	background-color: red;
}

button {
	text-align: center;
	font-weight: bold;
	width: 95px;
	height: 40px;
	margin: 80px auto;
	font-size: 20px;
    margin-top: 90px;
}

button:hover {
  background-color: red;
}

.buttonDisabled {
	color: black;
}